Pluralsight/
apps/htmlparser/
clean/apps/schoolscheduler/db_dump.sh
clean/apps/schoolscheduler/db_dump_all.sh
clean/apps/schoolscheduler/db_dump_summary.sh
clean/apps/schoolscheduler/db_dump_tablename.sh
clean/apps/schoolscheduler/schedule_dump.txt
clean/apps/schoolscheduler/schoolscheduler.pyc
clean/apps/schoolscheduler/schoolscheduler_defn.pyc
clean/apps/schoolscheduler/schoolscheduler_htmlparser.pyc
clean/apps/schoolscheduler/table_count_dump.sh
clean/apps/schoolscheduler/table_dump.sh
clean/apps/schoolscheduler/table_dump_multi.sh
clean/apps/schoolscheduler/table_dump_multi_summary.sh
clean/apps/schoolscheduler/table_pragma_dump.sh
clean/apps/schoolscheduler/test_schoolscheduler.pyc
clean/scripts/testrunner/dir/test1.pyc
clean/scripts/testrunner/dir/test_test1.pyc
clean/scripts/testrunner/dir_error/test_testerror1.pyc
clean/scripts/testrunner/dir_error/testerror1.pyc
clean/scripts/testrunner/dir_fail/test_testfail1.pyc
clean/scripts/testrunner/dir_fail/testfail1.pyc
clean/scripts/testrunner/log.log
clean/scripts/testrunner/testrunner.pyc
clean/scripts/testrunner/tmp.log
clean/scripts/xml2freemind/.id.dat
clean/scripts/xml2freemind/log.log
clean/scripts/xml2freemind/test_test_utils.pyc
clean/scripts/xml2freemind/test_xml2freemind.pyc
clean/scripts/xml2freemind/tests/test_unit_input_format
clean/scripts/xml2freemind/tests/test_unit_input_format.log.055825
clean/scripts/xml2freemind/tests/test_unit_input_format.log.061842
clean/scripts/xml2freemind/tests/test_unit_input_format.log.062119
clean/scripts/xml2freemind/tests/test_unit_input_format.log.062313
clean/scripts/xml2freemind/tests/test_unit_input_format.log.062731
clean/scripts/xml2freemind/tests/test_unit_input_format.log.063550
clean/scripts/xml2freemind/tests/test_unit_input_format.log.063554
clean/scripts/xml2freemind/tests/test_unit_input_format.log.063556
clean/scripts/xml2freemind/tests/test_unit_input_format.log.063559
clean/scripts/xml2freemind/tests/test_unit_input_format.log.063617
clean/scripts/xml2freemind/tests/test_unit_input_format.log.063909
clean/scripts/xml2freemind/tests/test_unit_input_format.log.064240
clean/scripts/xml2freemind/tests/test_unit_input_format.log.071833
clean/scripts/xml2freemind/tests/test_unit_input_format.log.072030
clean/scripts/xml2freemind/tests/test_unit_input_format.log.072209
clean/scripts/xml2freemind/tests/test_unit_input_format.log.072331
clean/scripts/xml2freemind/tests/test_unit_input_format.log.072500
clean/scripts/xml2freemind/tests/test_unit_input_format.log.073251
clean/scripts/xml2freemind/tests/test_unit_input_format.log.073326
clean/scripts/xml2freemind/tests/test_unit_input_format.log.073340
clean/scripts/xml2freemind/tests/test_unit_input_format.log.074626
clean/scripts/xml2freemind/tests/test_unit_input_format.log.074736
clean/scripts/xml2freemind/tests/test_unit_input_format.log.085103
clean/scripts/xml2freemind/tests/test_unit_input_format.log.091959
clean/scripts/xml2freemind/tests/test_unit_input_format.log.095528
clean/scripts/xml2freemind/tests/test_unit_input_format.log.135457
clean/scripts/xml2freemind/tests/test_unit_input_format.log.135822
clean/scripts/xml2freemind/tests/test_unit_input_format.log.135935
clean/scripts/xml2freemind/tests/test_unit_input_format.log.140412
clean/scripts/xml2freemind/tests/test_unit_input_format.log.140532
clean/scripts/xml2freemind/tests/test_unit_input_format.log.140849
clean/scripts/xml2freemind/tests/test_unit_input_format.log.141755
clean/scripts/xml2freemind/tests/test_unit_input_format.log.142949
clean/scripts/xml2freemind/tests/test_unit_input_format.log.144304
clean/scripts/xml2freemind/tests/test_unit_input_format.log.144510
clean/scripts/xml2freemind/tests/test_unit_input_format.log.150823
clean/scripts/xml2freemind/tests/test_unit_input_format.log.150911
clean/scripts/xml2freemind/tests/test_unit_input_format.log.150933
clean/scripts/xml2freemind/tests/test_unit_input_format.log.151059
clean/scripts/xml2freemind/tests/test_unit_input_format.log.151119
clean/scripts/xml2freemind/tests/test_unit_input_format.log.152413
clean/scripts/xml2freemind/tests/test_unit_input_format.log.153018
clean/scripts/xml2freemind/tests/test_unit_input_format.log.153108
clean/scripts/xml2freemind/tests/test_unit_input_format.log.153202
clean/scripts/xml2freemind/tests/test_unit_input_format.log.153406
clean/scripts/xml2freemind/tests/test_unit_input_format.log.171231
clean/scripts/xml2freemind/tests/tmp.log.055825
clean/scripts/xml2freemind/tests/tmp.log.061842
clean/scripts/xml2freemind/tests/tmp.log.062119
clean/scripts/xml2freemind/tests/tmp.log.062313
clean/scripts/xml2freemind/tests/tmp.log.062731
clean/scripts/xml2freemind/tests/tmp.log.062926
clean/scripts/xml2freemind/tests/tmp.log.063550
clean/scripts/xml2freemind/tests/tmp.log.063551
clean/scripts/xml2freemind/tests/tmp.log.063554
clean/scripts/xml2freemind/tests/tmp.log.063556
clean/scripts/xml2freemind/tests/tmp.log.063559
clean/scripts/xml2freemind/tests/tmp.log.063617
clean/scripts/xml2freemind/tests/tmp.log.063909
clean/scripts/xml2freemind/tests/tmp.log.064240
clean/scripts/xml2freemind/tests/tmp.log.071832
clean/scripts/xml2freemind/tests/tmp.log.071833
clean/scripts/xml2freemind/tests/tmp.log.072030
clean/scripts/xml2freemind/tests/tmp.log.072209
clean/scripts/xml2freemind/tests/tmp.log.072331
clean/scripts/xml2freemind/tests/tmp.log.072500
clean/scripts/xml2freemind/tests/tmp.log.073251
clean/scripts/xml2freemind/tests/tmp.log.073326
clean/scripts/xml2freemind/tests/tmp.log.073340
clean/scripts/xml2freemind/tests/tmp.log.074626
clean/scripts/xml2freemind/tests/tmp.log.074627
clean/scripts/xml2freemind/tests/tmp.log.074736
clean/scripts/xml2freemind/tests/tmp.log.085103
clean/scripts/xml2freemind/tests/tmp.log.091959
clean/scripts/xml2freemind/tests/tmp.log.095528
clean/scripts/xml2freemind/tests/tmp.log.135457
clean/scripts/xml2freemind/tests/tmp.log.135822
clean/scripts/xml2freemind/tests/tmp.log.135935
clean/scripts/xml2freemind/tests/tmp.log.140412
clean/scripts/xml2freemind/tests/tmp.log.140532
clean/scripts/xml2freemind/tests/tmp.log.140849
clean/scripts/xml2freemind/tests/tmp.log.141755
clean/scripts/xml2freemind/tests/tmp.log.142949
clean/scripts/xml2freemind/tests/tmp.log.144304
clean/scripts/xml2freemind/tests/tmp.log.144510
clean/scripts/xml2freemind/tests/tmp.log.150823
clean/scripts/xml2freemind/tests/tmp.log.150911
clean/scripts/xml2freemind/tests/tmp.log.150933
clean/scripts/xml2freemind/tests/tmp.log.151059
clean/scripts/xml2freemind/tests/tmp.log.151119
clean/scripts/xml2freemind/tests/tmp.log.152413
clean/scripts/xml2freemind/tests/tmp.log.153018
clean/scripts/xml2freemind/tests/tmp.log.153108
clean/scripts/xml2freemind/tests/tmp.log.153202
clean/scripts/xml2freemind/tests/tmp.log.153405
clean/scripts/xml2freemind/tests/tmp.log.153406
clean/scripts/xml2freemind/tests/tmp.log.171231
clean/scripts/xml2freemind/xml2freemind.pyc
clean/scripts/yougit/
clean/utils/.tmp/tmp_module4.pyc
clean/utils/.tmp/tmp_module5.pyc
clean/utils/.tmp_dupe/tmp_module4.pyc
clean/utils/database_table_util.pyc
clean/utils/database_table_util.xml
clean/utils/database_util.pyc
clean/utils/database_util.xml
clean/utils/db_name_test.sqlite;
clean/utils/format_utils.pyc
clean/utils/misc_utils.pyc
clean/utils/misc_utils_enum.pyc
clean/utils/misc_utils_generic.pyc
clean/utils/module_utils.pyc
clean/utils/test_database_table_util.pyc
clean/utils/test_database_util.pyc
clean/utils/test_misc/test_get_module_classes_with_imports.pyc
clean/utils/test_misc/test_get_module_info_all.pyc
clean/utils/test_misc_utils.pyc
clean/utils/test_misc_utils_enum.pyc
clean/utils/test_misc_utils_generic.pyc
clean/utils/test_module_utils.pyc
clean/utils/test_ui_utils.pyc
clean/utils/test_xml_utils.pyc
clean/utils/tmp_module.pyc
clean/utils/tmp_module2.pyc
clean/utils/tmp_module3.pyc
clean/utils/ui_utils.pyc
clean/utils/xml_utils.pyc
orig_utils/table_print.xml
phpapps/php_utils.bfproject
scripts/backlight/
scripts/backup/.backup.sh.lock
scripts/backup/backup/
scripts/backup/filelist
scripts/backup/filelist.orig
scripts/backup/install.sh
scripts/backup/logs/
scripts/backup/source.orig/
scripts/backup/source/
scripts/synciphone/
utils/database_util.pyc
utils/misc_utils.pyc
utils/xml_utils.pyc
