<?xml version="1.0"?>
<?xml-stylesheet type="text/css" href="menu.css"?>
<item id="0">
	<items>
		<item id="10000">
			<label>Building and Configuring</label>
			<items>
				<item id="10100">
					<label>PHP</label>
					<source>build-install.php</source>
					<items>
						<item id="10101">
							<tag>phpdependencies</tag>
							<label>PHP Dependencies</label>
						</item>
						<item id="10102">
							<tag>configurephp</tag>
							<label>Configure PHP</label>
						</item>
						<item id="10103">
							<tag>troubleshootingphp</tag>
							<label>Troubleshooting PHP</label>
						</item>
					</items>
				</item>
				<item id="10200">
					<label>Apache</label>
					<source>build-install.php</source>
					<items>
						<item id="10201">
							<tag>httpdvapache</tag>
							<label>HTTPD vs Apache2</label>
						</item>
						<item id="10202">
							<tag>firewallconfig</tag>
							<label>Firewall Config</label>
						</item>
						<item id="10203">
							<tag>linkedinmodules</tag>
							<label>Linked in Modules</label>
						</item>
						<item id="10204">
							<tag>makingsureitworks</tag>
							<label>Making sure it works</label>
						</item>
						<item id="10205">
							<tag>troubleshooting</tag>
							<label>Troubleshooting</label>
						</item>
						<item id="10206">
							<tag>proxyserver</tag>
							<label>Proxy Server</label>
						</item>
						<item id="10207">
							<tag>logverbosity</tag>
							<label>Log Verbosity</label>
						</item>
					</items>
				</item>
			</items>
			
			
			<item id="20000">
				<label>Libraries Modules</label>
				<source>libraries-modules.php</source>
				<items>
					<item id="20100"></item>
					<label>Misc.</label>
					<items>
						<item id="20101">
							<tag>libxml</tag>
							<label>libxml</label>
						</item>
						<item id="20102">
							<tag>readline</tag>
							<label>readline</label>
						</item>
						<item id="20103">
							<tag>mysql</tag>
							<label>MySql</label>
						</item>
						<item id="20104">
							<tag>buildessentials</tag>
							<label>Build Essentials</label>
						</item>
						<item id="20105">
							<tag>pcre</tag>
							<label>Perl Compatible RegEx (pcre)</label>
						</item>
						<item id="20106">
							<tag>zlib</tag>
							<label>zlib</label>
						</item>
					</items>
				</items>
			</item>


		
		<item id="30000">
			<label>OS</label>
			<items>
			</items>
		</item>
			
		
		<item id="40000">
			<source>html-html.php</source>
			<tag>false</tag>
			<label>HTML</label>
			<items>
				<item id="30100">
					<tag>httpdconf</tag>
					<label>httpdconf</label>
				</item>
				<item id="30200">
					<tag>htmllists</tag>
					<label>htmllists</label>
				</item>
				<item id="30300">
					<tag>htmltable</tag>
					<label>htmltable</label>
				</item>
				<item id="30400">
					<tag>htmllinks</tag>
					<label>htmllinks</label>
				</item>
				<item id="30500">
					<tag>htmlescaping</tag>
					<label>htmlescaping</label>
				</item>
			</items>
		</item>
		
		<item id="50000">
			<label>Web Frameworks</label>
			<items>
			</items>
		</item>
		
		<item id="60000">
			<label>Unix Tools</label>
			<items>
			</items>
		</item>
		
		<item id="70000">
			<label>Configuration</label>
			<items>
			</items>
		</item>
	</items>
</item>
