/*
*{
    margin: 0;
    padding: 0;
}
*/

div.contain {
	margin:.25em .25em .25em .25em;
	width:220px;
	background-color: #FEFAFA;
	display:block;
	/*overflow:auto;*/
	float:left;
}

div.blank {
	margin:0px;
	width:100px;
	float:left;
}

div.tmp {
	margin-top: 150px;
	position:absolute;
}

#content {
	float:left;
	margin-left: 107px;
}

#navwrap {
	margin:.25em .25em .25em .25em;
	width: 100px; 
	height: 20px; 
   padding-bottom: 0px;
	z-index: 1; /* Makes sure that your menu remains on top of other page elements */
	position: fixed;
	background-color: FFEFEF;    
}
