
.pol-base { /* base label for popout tab styles */
	border-bottom: 1px solid #29216d;
	border-left: 1px solid #29216d;
	border-right: 1px solid #29216d;
	text-align: center;
	text-transform: uppercase;	
	position: relative;	
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight: bold;
  	align-items: center;
  	justify-content: center;
	background-color: #FFEFEF;
}
.pol1  { /* pop out label 1 */
	width:180px;height:20px	;
	padding-top: 4px;
}
.pol2  { /* pop put label 2 */
	width:180px;height:20px	;
	padding-top: 4px;
}

.pol3  { /* pop put label 2 */
	width:180px;height:20px	;
	padding-top: 4px;
}

.pol4  { /* pop put label 2 */
	width:180px;height:20px	;
	padding-top: 4px;
}

.pol5  { /* pop put label 2 */
	width:180px;height:20px	;
	padding-top: 4px;
}
	
/* for the search results grid */
div.searchgrid {
	margin-top:5px;
	margin-left:200px;
	height:600px;
	/*width: :1100px;*/
	overflow-y:scroll;
	display:block;
	/*display:none;*/
}

/* for the search results grid */
div.searchgridhdr {
	margin-top:50px;
	margin-left:200px;
	display:block;
	/*display:none;*/
}

div.contain {
	margin:.25em .25em .25em .25em;
	width:180px;
	background-color: #FEFAFA;
	/*display:block;*/
	/*display:none;*/
	/*overflow:auto;*/
	float:left;
}
div.containswitch {
	margin:.25em .25em .25em .25em;
	width:160px;
	background-color: #FEFAFA;
	display:block;
	/*display:none;*/
	/*overflow:auto;*/
	float:left;
}

div.wideswitch {
	margin:.25em .25em .25em .25em;
	background-color: #FEFAFA;
	/*width:620px;*/
	float:left;
}

div.blank {
	margin:0px;
	width:100px;
	float:left;
}

div.tmp {
	margin-top: 150px;
	position:absolute;
}

#content {
	float:left;
	margin-left: 107px;
}

#navwrap {
	margin:.25em .25em .25em .25em;
	width: 100px; 
	height: 20px; 
   padding-bottom: 0px;
	z-index: 1; /* Makes sure that your menu remains on top of other page elements */
	position: fixed;
	background-color: FFEFEF;    
}

.slide-out-base {
	border-top: 1px solid #29216d;
	border-left: 1px solid #29216d;
	border-right: 1px solid #29216d;
   background: #ccc;
   padding-top: 10px;
}

/*.tmp-slide-out {
	margin:.25em .25em .25em .25em;
	width:180px;
	background-color: #FEFAFA;
	border-top: 1px solid #29216d;
	border-left: 1px solid #29216d;
	border-right: 1px solid #29216d;
   display: none;
   padding-top: 10px;
   float:left;
}*/

